
<!--
////////////////////////////////////////////////////////////////

Author: Free-Template.co
Author URL: http://free-template.co.
License: https://creativecommons.org/licenses/by/3.0/
License URL: https://creativecommons.org/licenses/by/3.0/
Site License URL: https://free-template.co/template-license/

Website:  https://free-template.co
Facebook: https://www.facebook.com/FreeDashTemplate.co
Twitter:  https://twitter.com/Free_Templateco
RSS Feed: https://feeds.feedburner.com/Free-templateco

////////////////////////////////////////////////////////////////
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Locality.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Free-Template.co" />

    <link rel="shortcut icon" href="ftco-32x32.png">

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">

    <link rel="stylesheet" href="{{parent}}fonts/icomoon/style.css">

    <link rel="stylesheet" href="{{parent}}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{parent}}css/magnific-popup.css">
    <link rel="stylesheet" href="{{parent}}scss/jquery-ui.css">
    <link rel="stylesheet" href="{{parent}}css/owl.carousel.min.css">
    <link rel="stylesheet" href="{{parent}}css/owl.theme.default.min.css">

    <link rel="stylesheet" href="{{parent}}css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="{{parent}}fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="{{parent}}scss/aos.css">
    <link rel="stylesheet" href="{{parent}}css/rangeslider.css">

    <link rel="stylesheet" href="{{parent}}css/style.css">

  </head>
  <body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar" role="banner">

      <div class="container">
        <div class="row align-items-center">

          <div class="col-11 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="/index" class="text-white h2 mb-0">Locality.</a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="/index"><span>Search</span></a></li>
                <li><a href="/about"><span>About Us</span></a></li>
                <li><a href="{{form}}" target="_blank"><span>Sign Up</span></a></li>
                <li><a href="/admin"><span>[Admin]</span></a></li>
              </ul>
            </nav>
          </div>


          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>

    </header>



    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url({{parent}}images/wood.jpeg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">


            <div class="row justify-content-center">
              <div class="col-md-8 text-center">
                <h1>{{item.Name}}</h1>
                <p class="mb-0">{{ item.Type }}</p>
                <p class="mb-0">{{ item.Street }}, {{ item.City }}, {{ item.State }} {{ item.ZIP }}</p>
                <p class="mb-0"><a href="{{ item.Site }}" target="_blank">{{ item.Site }}</a></p>
                <p class="mb-0">{{ item.Phone }} | {{ item.Email }}</p>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">

            <div class="mb-5 border-bottom pb-5">

            <h3 class="h5 text-black mb-3">Description:</h3>
            <p>{{ item.Description }}</p>

            <h3 class="h5 text-black mb-3">Availability of Delivery/Takeout/Ordering/Etc.:</h3>
            <p>{{ item.DeliveryText }}</p>

            <h3 class="h5 text-black mb-3">Ways to Help:</h3>
            <p>{{ item.HelpText }}</p>

            <h3 class="h5 text-black mb-3">Online Store:</h3>
            <p><a href="{{ item.Commerce }}" target="_blank">{{ item.Commerce }}</a></p>

            {% if "store" in item.GiftCard or "online" in item.GiftCard %}
            <h3 class="h5 text-black mb-3">Gift Cards:</h3>
            <ul>
            {% if "store" in item.GiftCard %}
            <li>
            <p>Sold in store.</p>
            </li>
            {% endif %}

            {% if "online" in item.GiftCard %}
            <li>
            <p>Available online at <a href="item.GiftCardLink" target="_blank">{{ item.GiftCardLink }}</a></p>
            </li>
            {% endif %}
            </ul>
            {% endif %}


            </div>

          </div>
          <div class="col-lg-3 ml-auto">

            <div class="mb-5">

              <h3 class="h5 text-black mb-3">Show Your Support</h3>
              <!-- https://www.tutorialspoint.com/html/html_email_links.htm -->
              <!-- similar tutorial on Stackoverflow for Twitter -->
              <p><a href="http://www.twitter.com/share?text=Join me in supporting local businesses like {{ item.Name }}. Check out their website: {{ item.Site }} and their Locality listing:" target="_blank">Share on Twitter</a></p>
              <p><a href="mailto: {{ item.Email }}?&subject= Local support (referred from Locality).&body=I saw your listing on Locality and would like to offer ..." target="_blank">Contact {{ item.Name }}</a></p>

              <br></br>

              <h3 class="h5 text-black mb-3">Social Media Links</h3>

              {% if "." in item.FB %}
              <p>Facebook Page:</p>
              <p><a href="{{item.FB}}" target="_blank">{{item.FB}}</a></p>
              {% endif %}

              {% if "." in item.Twitter %}
              <p>Twitter Page:</p>
              <p><a href="{{item.Twitter}}" target="_blank">{{item.Twitter}}</a></p>
              {% endif %}

              {% if "." in item.Instagram %}
              <p>Instagram Page:</p>
              <p><a href="{{item.Instagram}}" target="_blank">{{item.Instagram}}</a></p>
              {% endif %}

            </div>

          </div>

        </div>
      </div>
    </div>


    <div class="py-5 bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mr-auto mb-4 mb-lg-0">
            <h2 class="mb-3 mt-0 text-white">Join our network of businesses.</h2>
            <p class="mb-0 text-white">Submit our form to list your store on our platform.</p>
          </div>
          <div class="col-lg-4">
            <p class="mb-0"><a href="{{form}}" target="_blank" class="btn btn-outline-white text-white btn-md px-5 font-weight-bold btn-md-block">Sign Up</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Link back to Free-Template.co can't be removed. Template is licensed under CC BY 3.0. -->
    <div class="col-12 text-md-center text-left">
        <p>

          <br> &copy; 2019 <strong class="text-black">Browse</strong> Free Template. All Rights Reserved. Design by <a href="https://free-template.co/" target="_blank" class="text-black">Free-Template.co</a>
        </p>
    </div>

  <script src="{{parent}}js/jquery-3.3.1.min.js"></script>
  <script src="{{parent}}js/jquery-migrate-3.0.1.min.js"></script>
  <script src="{{parent}}js/jquery-ui.js"></script>
  <script src="{{parent}}js/popper.min.js"></script>
  <script src="{{parent}}js/bootstrap.min.js"></script>
  <script src="{{parent}}js/owl.carousel.min.js"></script>
  <script src="{{parent}}js/jquery.stellar.min.js"></script>
  <script src="{{parent}}js/jquery.countdown.min.js"></script>
  <script src="{{parent}}js/jquery.magnific-popup.min.js"></script>
  <script src="{{parent}}js/bootstrap-datepicker.min.js"></script>
  <script src="{{parent}}js/aos.js"></script>
  <script src="{{parent}}js/rangeslider.min.js"></script>

  <script src="{{parent}}js/main.js"></script>

  </body>
</html>
